@page "{id}"
@model NET_GRAM.Pages.Grams.IndexModel

@{
    ViewData["Title"] = "Details";

    Layout = "_Layout";
}

@{ 
    var comments = Model.Post.Comments.ToList();
}

<head>
    <title>Details</title>
  
</head>


<div class="main-image-post">
    <h2 class="header" >Author: @Model.Post.Author</h2>
    <h2 class="header" >@Model.Post.Capture</h2>
    <img   class="postImage" src="@Model.Post.ImageURL" alt="image" height="155" width="155/>
    <h2 class="header" >@Model.Post.Title</h2>
    <div >
        
        <hr />
        @foreach (var comment in comments)
        {
            <p class="paragraph"><span class="commentAuthor">@comment.User</span>: @comment.UserComment</p>
        }
    </div>
</div>

<a class="button2" asp-page="/Grams/Manage" asp-route-id="@Model.Post.ID">EDIT</a>
<a class="button2" asp-page="/Grams/Comment" asp-route-id="@Model.Post.ID">ADD COMMENT</a>

